<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team4.healthmonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!--  Splash Screen -->
        <activity
            android:name="com.team4.healthmonitor.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
             android:name="com.team4.healthmonitor.MainActivity"
             android:label="@string/app_name"
             android:screenOrientation="sensor">
        </activity>
        
        <!-- Main App Activity -->
        <activity
             android:name="com.team4.healthmonitor.MainAppActivity"
             android:label="@string/app_name"
             android:screenOrientation="sensor">
        </activity>
        <receiver android:name=".AlarmReceiver" android:process=":remote" />
        
        <!-- Register Activity -->
        <activity
             android:name="com.team4.healthmonitor.RegisterActivity"
             android:label="@string/app_name"
             android:screenOrientation="sensor">
             >
        </activity>
          <service
            android:name="com.team4.database.DatabaseImporter"
            android:exported="false"/>
        
    </application>

</manifest>
